<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Attribution</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <main>
        <h1>Attribution</h1>

        <section>
            <h2>Sprites</h2>

            <p>
                <b><a href="http://opengameart.org/content/dungeon-crawl-32x32-tiles">Dungeon Crawl 32x32 tiles</a></b> by <b>Chris Hamons</b> on <b>OpenGameArt.org</b>.
            </p>
        </section>

        <section>
            <h2>Music</h2>

            <p>
                <b><a href="https://pixabay.com/music/upbeat-8-bit-legends-ancient-shrine-200457/">8 Bit Legends - Ancient Shrine</a></b> by <b><a href="https://pixabay.com/users/antipodeanwriter-2366345/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=200457">AntipodeanWriter</a></b> on <b><a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=200457">Pixabay</a></b>.
            </p>
        </section>

        <section>
            <h2>Sounds</h2>

            <p>
                <b><a href="https://kenney.nl/assets/rpg-audio">RPG Audio</a></b> on <b>Kenney</b>.
            </p>
        </section>

        <section>
            <h2>Favicon</h2>

            <p>
                <a target="_blank" href="https://icons8.com/icon/4GWa2qYLPZSU/apple-arcade">Game</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>.
            </p>
        </section>
    </main>

    <footer>
        <nav>
            <p>
                <a href="{{ url_for('index') }}">Home</a>
            </p>
            <p>
                <a href="{{ url_for('play') }}">Play Game</a>
            </p>
        </nav>
    </footer>
</body>
</html>