{% extends "base.html" %}

{% block main_content %}
<main>

    <h2>Delete Genre</h2>

    <p>Please choose the genre you would like to delete.</p>

    <p>Please note that any movie with this genre will become unlisted until a new genre is assigned to it.</p>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p>
        {{ form.genre.label }}
        {{ form.genre() }}
        {% for error in form.genre.errors %}
            {{ error }}
        {% endfor %}
        </p>
        <p>
        {{ form.check() }}
        {{ form.check.label }}
        <br>
        {% for error in form.check.errors %}
            {{ error }}
        {% endfor %}
        </p>
        {{ form.submit() }}
    </form>

</main>
{% endblock %}